.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: #a02f2f;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.nav-logo {
    color: #141414;
    justify-self: flex-start;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
}

.nav-icon {
    margin-right: 0.5rem;
}
ul {
    display: flex;
    
}

li {
    
    list-style: none;
    justify-content: space-between;

}